---
import { Image } from "astro:assets"
import { FaInstagram } from "react-icons/fa"
import { FaWhatsapp } from "react-icons/fa";
import { FaLinkedin } from "react-icons/fa";
import contacts from "@/lib/contacts.json"

const linkClass = "block text-black text-[0.86rem] text-gray-800 hover:underline"
const iconSize = 20
const iconClass = "text-gray-800"
---

<footer class="w-full bg-gray-200 py-3 px-2">
  <div class="flex flex-wrap flex-col sm:flex-row justify-between items-center gap-4 w-full h-full">
    <a href="/" class="flex flex-[0_1_auto] justify-center items-center flex-wrap">
      <Image src="/logo.png" width={40} height={40} alt="Logo" />
      <p class="font-bold text-[0.9rem]">Smartprep Special Needs Therapeutics</p>
    </a>

    <div class="flex-[0_1_auto] flex flex-wrap justify-center items-center gap-3">
      <a class={linkClass} href="/">Home</a>
      <a class={linkClass} href="/about-us">About Us</a>
      <a class={linkClass} href="/contact">Contact</a>
      <a class={linkClass} href="/our-services">Our Services</a>
    </div>

    <div class=" flex-[0_1_auto] flex flex-wrap gap-3 justify-center items-center">
      <a class={iconClass} href={contacts.instagram} target="_blank">
        <FaInstagram size={iconSize} />
      </a>
      <a class={iconClass} href={contacts.whatsapp} target="_blank">
        <FaWhatsapp size={iconSize} />
      </a>
      <a class={iconClass} href={contacts.linkedin} target="_blank">
        <FaLinkedin size={iconSize} />
      </a>
    </div>
  </div>
</footer>