---
import { Image } from "astro:assets"
import { IoIosMenu } from "react-icons/io";

const linkClass = "font-medium text-[0.95rem] hover:underline"
---

<header
  id="main-header"
  class="fixed inset-0 h-[60px] bg-white z-500 text-black flex justify-between items-center p-2
    transition-shadow duration-300 ease-out"
>
  <a class="flex items-center" href="/">
    <Image src="/logo.png" width={50} height={50} alt="Smartprep logo" />
  </a>

  <>
    <nav class="hidden sm:flex items-center gap-4 pr-10">
      <a class={linkClass} href="/">Home</a>
      <a class={linkClass} href="/about-us">About Us</a>
      <a class={linkClass} href="/our-services">Our Services</a>
      <a class={linkClass} href="/contact">Contact</a>
    </nav>
    <button id="nav-button" class="sm:hidden cursor-pointer">
      <IoIosMenu size={50} />
    </button>
  </>
  
  <div
    id="nav-mobile"
    class="hidden fixed inset-0 top-[59px] z-10 bg-black/50"
  >
    <nav class="flex flex-col items-center gap-4 p-2 bg-white rounded-bl-lg rounded-br-lg">
      <a class={linkClass} href="/">Home</a>
      <a class={linkClass} href="/about-us">About Us</a>
      <a class={linkClass} href="/our-services">Our Services</a>
      <a class={linkClass} href="/contact">Contact</a>
    </nav>
  </div>
</header>

<script>
  const header: HTMLElement = document.getElementById("main-header")!
  const navButton: HTMLElement = document.getElementById("nav-button")!
  const navMobile: HTMLElement = document.getElementById("nav-mobile")!
  const smallSize = 640
  let navMobileOpen = false

  const onScroll = () => {
    if (window.scrollY > 0) {
      header.classList.add("shadow-lg")
    }else {
      header.classList.remove("shadow-lg")
    }
  }

  const onWinResize = () => {
    if (window.innerWidth < smallSize) {
      if (navMobileOpen) {
        navMobile.style.display = "block"
      }
    }else {
      navMobile.style.display = "none"
    }
  }

  window.addEventListener("scroll", onScroll)
  window.addEventListener("resize", onWinResize)

  navButton.addEventListener("click", () => {
    if (!navMobileOpen) {
      navMobile.style.display = "block"
      navMobileOpen = true
    }else {
      navMobile.style.display = "none"
      navMobileOpen = false
    }
  })

  onScroll()
  onWinResize()
</script>